

.center{
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.heading {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100px;
	font-weight: bold;
	letter-spacing: 10px;
	justify-content: center;
}

.mainp {
	font-weight: lighter;
	font-size: 20px;
	letter-spacing: 5px;
}
.flex {
margin-bottom: 100px;
display: flex;
width: 100%;
padding: 10px 15px;
justify-content: space-around;
}
/* > means anything that is the direct decendant*/

.box {
	color: #666
}

.selected, .box::after {
  border-style: dotted;
  color: salmon;
}

.bigger {
	width: 200px;
}
object {
  width: 150px;
}

.wrapper > * {
  pointer-events: none
} /*block mouse events on elements with children*/

.line {
	border-bottom: solid 3px #DDD;
}